PATH=/home/oleg/.local/bin:/home/oleg/bin:/usr/share/Modules/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin

# Monitoring
#*/15 * * * * /usr/bin/sudo /home/ALL/scripts/control/monitoring_processes.sh -check_selinux
#*/15 * * * * /usr/bin/sudo /home/ALL/scripts/control/monitoring_processes.sh -check_systemctl
#*/15 * * * * /usr/bin/sudo /home/ALL/scripts/control/monitoring_processes.sh -check_mount

# Backup
#*/10 * * * * /home/ALL/scripts/Backup-ALL.sh
#*/10 * * * * /home/ALL/scripts/Backup-AndroidStudio.sh
#*/10 * * * * /usr/bin/sudo /home/ALL/scripts/Backup-Config-files.sh
#0 4 * * * /home/oleg/Scripts/sync_and_arch_DCIM.sh
0 5 * * * /opt/backup_scripts/backup_from_sftp_to_hdd.sh

# DB
#0 0 * * * /home/ALL/scripts/Backup-MySQL.sh
#0 0 * * * /home/ALL/scripts/Backup-PgSQL.sh

# Smartphone
#*/10 * * * * /home/ALL/scripts/Backup-ZTE_Axon_7.sh
#*/10 * * * * /home/ALL/scripts/Backup-ZTE_Nubia_Z17.sh
#*/16 * * * * /home/ALL/scripts/Recovery-Nubia_Z17.sh
#*/10 * * * * /home/ALL/scripts/Backup-Xiaomi_Redmi_Note_9_Pro.sh
#0 0 * * * /home/oleg/Scripts/Backup-Xiaomi_Redmi_Note_9_Pro.sh
#0 1 * * * /home/oleg/Scripts/Backup-ZTE_Nubia_Z17.sh

# Sleep mode
#*/10 0-6 * * * /home/oleg/Scripts/vlc_pause.sh >> /home/oleg/Scripts/vlc_pause.log
#0 2-6 * * * /usr/bin/sudo /usr/bin/systemctl suspend

