# Manual aliases version 29.01.2024

alias ll='ls -lah'
alias we='/etc/profile.d/welcome.sh'
alias home="cd /opt/scripts/"
alias com="cd /opt/common/"
alias pub="cd {{ SFTP_PATH_OUT }}/"
alias web="cd /var/www/html/"
alias github='cd /opt/github'

# Custom aliases
{{ BASHRC }}

# Custom enviroments
