#!/bin/bash

echo "Update repo 'prod'"
cd /storage/emulated/0/github/prod || exit;
find . -name "*.lock" -delete;
git checkout main;
git reset --hard origin/HEAD;
git pull origin main -f;

{% if private_mode is true %}
echo "Update repo 'private'"
cd /storage/emulated/0/github/private || exit;
find . -name "*.lock" -delete;
git checkout main;
git reset --hard origin/HEAD;
git pull origin main -f;
{% endif %}

exit 0;
