# Standart aliases
alias ll='ls -la'
alias cr='busybox crontab'
alias crontab='busybox crontab'
alias home='cd /storage/emulated/0/scripts'
alias down='cd /storage/emulated/0/Download'
alias we='bash /storage/emulated/0/github/prod/welcome.sh'
alias ex='cd /data/data/com.termux/files/home/storage/external-1'
alias ba='bash /storage/emulated/0/github/prod/backup_android_lftp_rsync.sh -lftp'
alias github='cd /storage/emulated/0/github'

# Custom aliases
{{ BASHRC }}

# Custom enviroments
export HOSTNAME={{ hostname }}
