#!/bin/bash

check_status() {
    file_status="/run/media/{{ ansible_user }}/B20C-F595/flash_uuid.txt";
    status=$(cat "$file_status");
    echo "Status = $status";
}

check_status;
if [[ "$status" =~ "{{ FLASH_UUID }}" ]]; then
    if [ -f "$file_status" ]; then
        if [[ "$status" =~ "{{ FLASH_UUID }}" ]]; then
            echo "Run ($(date '+%F %T'))";
            rsync --verbose --delete-excluded --delete --progress -av {{ SFTP_PATH_OUT }}/Music /run/media/{{ ansible_user }}/B20C-F595/;
        else
            echo "STOP script";
            exit 1;
        fi;
    else
        echo "File not exist $file_status";
    fi;

else
    echo "STOP script";
fi;

exit 0;
