PATH=/home/oleg/.local/bin:/home/oleg/bin:/usr/share/Modules/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/var/lib/snapd/snap/bin

0 3 * * * /opt/common/github_update.sh
@reboot sleep 300 && /opt/backup_scripts/backup_from_sftp_to_hdd.sh | tee -a /opt/backup_scripts/backup_from_sftp_to_hdd.log
@reboot /usr/bin/iperf3 -Ds
